@media (min-width: 600px){
    .header-custom-class > .MuiContainer-root > .MuiToolbar-root{
        min-height: 0 !important;
        height:55px;
        
    }
}

.header-custom-class{
    padding: 0 !important;
}