@use '../../Sass/variables' as v;

.sub-select-child{
    margin-right: 10px;
}

.sub-select-child > .MuiAutocomplete-root {
    width: 180px !important;
}

.topic-select-child > .MuiAutocomplete-root {
    width: 180px !important;
}

.sub-select-child > .MuiAutocomplete-root > .MuiFormControl-root > .MuiFormLabel-root {
   top:-8px !important;
}

.topic-select-child > .MuiAutocomplete-root > .MuiFormControl-root > .MuiFormLabel-root {
    top:-8px !important;
}

.sub-select-child > .MuiAutocomplete-root > .MuiFormControl-root > .css-gcwvw8-MuiAutocomplete-root ,.MuiOutlinedInput-root{
    padding: 0px !important;
    height: 35px !important;
}

.sub-select-child > .MuiAutocomplete-root > .MuiFormControl-root > .MuiInputBase-root{
    background-color: white !important;
}

.topic-select-child > .MuiAutocomplete-root > .MuiFormControl-root > .MuiInputBase-root{
    background-color: white !important;
}

.header-search-icon > .MuiSvgIcon-root {
    width: 1.25em;
    height: 1.25em;
}

.header-search-icon {
    margin-top: 5px;
    margin-left: 5px;
}

.header-search-icon:hover {
    cursor: pointer;
}

@media (max-width: 600px){
    .header-search-icon > .MuiSvgIcon-root {
       color:v.$primary-color
    }
}